In [160]:
!pip install psycopg2

import psycopg2
import pandas as pd
# доступны student-ы от 0 до 9

DB_HOST = '89.223.95.138'
DB_USER = 'student_9'
DB_USER_PASSWORD = 'student_9'
DB_NAME = 'sample_db'

conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.6/dist-packages (2.7.6.1)

In [161]:
pd.read_sql_query("""
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema' AND tableowner='student_9'
    """, conn)

   schemaname        tablename tableowner  ... hasrules  hastriggers  rowsecurity
0      public      service_ver  student_9  ...    False        False        False
1      public      dogovor_ver  student_9  ...    False        False        False
2      public           so_ver  student_9  ...    False        False        False
3      public       worker_ver  student_9  ...    False        False        False
4      public          pay_ver  student_9  ...    False        False        False
5      public     executor_ver  student_9  ...    False        False        False
6      public            books  student_9  ...    False        False        False
7      public           reader  student_9  ...    False        False        False
8      public    storage_place  student_9  ...    False        False        False
9      public    issuing_books  student_9  ...    False        False        False
10     public  librarian_books  student_9  ...    False        False        False

[11 rows x 8 columns]

In [ ]:
# использую если была ошибка и нужно откат сделать  
conn.rollback()

In [159]:
# для удаления таблицы 
query = "DROP TABLE IF EXISTS salary_ver"

conn.cursor().execute(query)
conn.commit()

In [ ]:
query="""
CREATE TABLE IF NOT EXISTS service_ver
(id SERIAL PRIMARY KEY,
  name varchar(50),
price numeric,
sales numeric)

"""
conn.cursor().execute(query)
conn.commit()

In [ ]:
pd.read_sql_query("""
SELECT *
FROM service_ver

   """, conn)

Empty DataFrame
Columns: [id, name, price, sales]
Index: []

In [ ]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.6/dist-packages (2.5.9)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.0.1)

In [ ]:
import pandas as date
df=pd.read_excel(io='service.xlsx', engine='openpyxl')

In [ ]:
df

               name  price  sales
0         create LK  10000      0
1          create K   5000      0
2         create RI   5000      0
3       create LK+K  15000      0
4      create LK+RI  15000      0
5    create LK+K+RI  20000      0
6        service LK   6000      0
7         service K   1500      0
8        service RI   1500      0
9      service LK+K   7500   7500
10    service LK+RI   7500   7500
11  service LK+K+RI   8000   8000

In [ ]:
list(df)

['name', 'price', 'sales']

In [ ]:
import psycopg2.extras

In [ ]:
# читаем строки датафрейма в таблицу 
if len(df) > 0:
    df_columns = list(df)
   
    columns = ",".join(df_columns)

    values = "VALUES({})".format(",".join(["%s" for _ in df_columns])) 

    insert_stmt = "INSERT INTO {} ({}) {}".format('service_ver', columns, values)

    cur = conn.cursor()
    psycopg2.extras.execute_batch(cur, insert_stmt, df.values)
    conn.commit()
    cur.close()

In [ ]:
query="""
CREATE TABLE IF NOT EXISTS dogovor_ver
(id SERIAL PRIMARY KEY,
  kod_set int,
  kod_serv int,
  kod_dog varchar(8),
  date_dog date,
  sum numeric,
  kol int)

"""
conn.cursor().execute(query)
conn.commit()

In [ ]:
pd.read_sql_query("""
SELECT *
FROM dogovor_ver

   """, conn)

Empty DataFrame
Columns: [id, kod_set, kod_serv, kod_dog, date_dog, sum, kol]
Index: []

In [ ]:
import pandas as date
df1=pd.read_excel(io='dogovor.xlsx', engine='openpyxl')

In [ ]:
df1

   kod_set  kod_serv kod_dog   date_dog    sum  kol
0        1         1  028-20 2020-10-01  10000    1
1        1         7  028-20 2020-10-01  60000   12
2        2         6  029-20 2020-11-05  20000    1
3        2        12  029-20 2020-11-05  48000    6
4        3         4  030-20 2020-06-09  15000    1
5        3        10  030-20 2020-06-09  85000   12
6        4         1  031-20 2020-08-15  10000    1
7        4         7  031-20 2020-08-15  60000   12

In [ ]:
# читаем строки датафрейма в таблицу 
if len(df1) > 0:
    df1_columns = list(df1)
   
    columns = ",".join(df1_columns)

    values = "VALUES({})".format(",".join(["%s" for _ in df1_columns])) 

    insert_stmt = "INSERT INTO {} ({}) {}".format('dogovor_ver', columns, values)

    cur = conn.cursor()
    psycopg2.extras.execute_batch(cur, insert_stmt, df1.values)
    conn.commit()
    cur.close()

In [ ]:
pd.read_sql_query("""
SELECT *
FROM dogovor_ver

   """, conn)

   id  kod_set  kod_serv kod_dog    date_dog      sum  kol
0   1        1         1  028-20  2020-10-01  10000.0    1
1   2        1         7  028-20  2020-10-01  60000.0   12
2   3        2         6  029-20  2020-11-05  20000.0    1
3   4        2        12  029-20  2020-11-05  48000.0    6
4   5        3         4  030-20  2020-06-09  15000.0    1
5   6        3        10  030-20  2020-06-09  85000.0   12
6   7        4         1  031-20  2020-08-15  10000.0    1
7   8        4         7  031-20  2020-08-15  60000.0   12

In [ ]:
query="""
CREATE TABLE IF NOT EXISTS so_ver
(id SERIAL PRIMARY KEY,
  kod_dog varchar(8),
  name varchar(50),
  id_dog int,
  fio varchar(50),
  adres varchar(100),
  tel varchar(50),
  email varchar(50),
  region varchar(50))
"""
conn.cursor().execute(query)
conn.commit()

In [ ]:
pd.read_sql_query("""
SELECT *
FROM so_ver

   """, conn)

Empty DataFrame
Columns: [id, kod_dog, name, id_dog, fio, adres, tel, email, region]
Index: []

In [ ]:
import pandas as date
df2=pd.read_excel(io='so.xlsx', engine='openpyxl')

In [ ]:
df2

                                       name  ...                region
0        ООО "Орехово-Зуевская Электросеть"  ...    Московская область
1                   ООО "Каскад Энергосеть"  ...     Калужская область
2   ООО "Городская электросетевая компания"  ...   Вологодская область
3                           ООО "Сибэнерго"  ...        Омская область
4                              ООО "Энерго"  ...     Самарская область
5                             ООО "ТСО ГЭС"  ...      Хабаровский край
6                         Шиловское МУП ТЭС  ...     Рязанская область
7                                 ООО "ЗЭС"  ...    Московская область
8                              МУП "ГорТЭС"  ...      Амурская область
9                  АО «Коммунэлектросервис»  ...       Приморский край
10                   АО «Спасскэлектросеть»  ...       Приморский край
11                      ООО «Регион-Энерго»  ...        Алтайский Край
12            ООО «Коммунальные технологии»  ...  Чувашская Республика
13        МУП «Районные электрические сети»  ...      Хабаровский край
14                         ООО "Примэнерго"  ...    Ростовская область

[15 rows x 7 columns]

In [ ]:
import psycopg2.extras

In [ ]:
# читаем строки датафрейма в таблицу 
if len(df2) > 0:
    df2_columns = list(df2)
   
    columns = ",".join(df2_columns)

    values = "VALUES({})".format(",".join(["%s" for _ in df2_columns])) 

    insert_stmt = "INSERT INTO {} ({}) {}".format('so_ver', columns, values)

    cur = conn.cursor()
    psycopg2.extras.execute_batch(cur, insert_stmt, df2.values)
    conn.commit()
    cur.close()

In [ ]:
pd.read_sql_query("""
SELECT *
FROM so_ver

   """, conn)

    id kod_dog  ...                            email                region
0    1  028-20  ...                 oz-elektro@bk.ru    Московская область
1    2  029-20  ...              secretar@kenergo.ru     Калужская область
2    3  030-20  ...               i.slobodin@st35.ru   Вологодская область
3    4  031-20  ...          sibenergo2015@yandex.ru        Омская область
4    5  032-20  ...             office@oooenergo.com     Самарская область
5    6  034-20  ...           setigor@mail.sovgav.ru      Хабаровский край
6    7  035-20  ...                   muptes@mail.ru     Рязанская область
7    8  036-20  ...                    info@z-e-s.ru    Московская область
8    9  037-20  ...            yur-vitalij@yandex.ru      Амурская область
9   10  038-20  ...        delektroset-kes@yandex.ru       Приморский край
10  11  040-20  ...    spasskelenet@mail.primorye.ru       Приморский край
11  12  041-20  ...  region-energo-rub2011@yandex.ru        Алтайский Край
12  13  043-20  ...                  adm@kom-tech.ru  Чувашская Республика
13  14  045-20  ...                 reskhv@reskhv.ru      Хабаровский край
14  15  051-20  ...                 primenergo@bk.ru    Ростовская область

[15 rows x 9 columns]

In [ ]:
query="""
CREATE TABLE IF NOT EXISTS worker_ver
(id SERIAL PRIMARY KEY,
   fio varchar(50),
    job varchar(50),
    salary numeric)
"""
conn.cursor().execute(query)
conn.commit()

In [ ]:
pd.read_sql_query("""
SELECT *
FROM worker_ver

   """, conn)

Empty DataFrame
Columns: [id, fio, job, salary]
Index: []

In [ ]:
import pandas as date
df3=pd.read_excel(io='worker.xlsx', engine='openpyxl')

In [ ]:
df3

                           fio        job  salary
0      Березин Илья Николаевич  team lead   70000
1  Пастухов Ярослав Максимович         PM   50000
2   Постникова Софья Никитична         DA   40000
3      Богомолова Анна Юрьевна     booker   25000

In [ ]:
# читаем строки датафрейма в таблицу 
if len(df3) > 0:
    df3_columns = list(df3)
   
    columns = ",".join(df3_columns)

    values = "VALUES({})".format(",".join(["%s" for _ in df3_columns])) 

    insert_stmt = "INSERT INTO {} ({}) {}".format('worker_ver', columns, values)

    cur = conn.cursor()
    psycopg2.extras.execute_batch(cur, insert_stmt, df3.values)
    conn.commit()
    cur.close()

In [ ]:
pd.read_sql_query("""
SELECT *
FROM worker_ver

   """, conn)

   id                          fio        job   salary
0   1      Березин Илья Николаевич  team lead  70000.0
1   2  Пастухов Ярослав Максимович         PM  50000.0
2   3   Постникова Софья Никитична         DA  40000.0
3   4      Богомолова Анна Юрьевна     booker  25000.0

In [ ]:
query="""
CREATE TABLE IF NOT EXISTS executor_ver
(id SERIAL PRIMARY KEY,
   kod_work int,
   kod_dog varchar(8),
   date_b date,
   date_n date)
"""
conn.cursor().execute(query)
conn.commit()

In [ ]:
pd.read_sql_query("""
SELECT *
FROM executor_ver

   """, conn)

Empty DataFrame
Columns: [id, kod_work, kod_dog, date_b, date_n]
Index: []

In [ ]:
import pandas as date
df4=pd.read_excel(io='executor.xlsx', engine='openpyxl')

In [ ]:
df4

   kod_work  kod_dog     date_b     date_n
0         1  028-20Д 2020-10-01 2020-10-05
1         2  028-20Д 2020-10-01 2020-10-16
2         1  029-20Б 2020-11-05 2020-11-09
3         3  029-20Б 2020-11-05 2020-11-12
4         1  030-20Б 2020-06-09 2020-06-19
5         3  030-20Б 2020-06-09 2020-06-20
6         4  031-20Б 2020-08-15 2020-08-16
7         1  031-20Б 2020-08-15 2020-08-17

In [ ]:
# читаем строки датафрейма в таблицу 
if len(df4) > 0:
    df4_columns = list(df4)
   
    columns = ",".join(df4_columns)

    values = "VALUES({})".format(",".join(["%s" for _ in df4_columns])) 

    insert_stmt = "INSERT INTO {} ({}) {}".format('executor_ver', columns, values)

    cur = conn.cursor()
    psycopg2.extras.execute_batch(cur, insert_stmt, df4.values)
    conn.commit()
    cur.close()

In [ ]:
pd.read_sql_query("""
SELECT *
FROM executor_ver

   """, conn)

   id  kod_work  kod_dog      date_b      date_n
0   1         1  028-20Д  2020-10-01  2020-10-05
1   2         2  028-20Д  2020-10-01  2020-10-16
2   3         1  029-20Б  2020-11-05  2020-11-09
3   4         3  029-20Б  2020-11-05  2020-11-12
4   5         1  030-20Б  2020-06-09  2020-06-19
5   6         3  030-20Б  2020-06-09  2020-06-20
6   7         4  031-20Б  2020-08-15  2020-08-16
7   8         1  031-20Б  2020-08-15  2020-08-17

In [ ]:
query="""
CREATE TABLE IF NOT EXISTS pay_ver
(id SERIAL PRIMARY KEY,
   kod_serv int,
   kod_set int,
   kod_dog varchar(8),
   date_pay date,
   sum numeric)
"""
conn.cursor().execute(query)
conn.commit()

In [ ]:
pd.read_sql_query("""
SELECT *
FROM pay_ver

   """, conn)

Empty DataFrame
Columns: [id, kod_serv, kod_set, kod_dog, date_pay, sum]
Index: []

In [ ]:
import pandas as date
df5=pd.read_excel(io='pay.xlsx', engine='openpyxl')

In [ ]:
df5

   kod_serv  kod_set kod_dog   date_pay    sum
0         1        1  028-20 2020-10-05  10000
1         7        1  028-20 2020-11-05  30000
2         7        1  028-20 2020-12-06  30000
3         6        2  029-20 2020-11-06  20000
4        12        2  029-20 2020-12-01  16000
5         4        3  030-20 2020-06-10  15000
6        10        3  030-20 2020-11-11  60000
7         1        4  031-20 2020-08-16  10000
8         7        4  031-20 2020-08-19  30000

In [ ]:
# читаем строки датафрейма в таблицу 
if len(df5) > 0:
    df5_columns = list(df5)
   
    columns = ",".join(df5_columns)

    values = "VALUES({})".format(",".join(["%s" for _ in df5_columns])) 

    insert_stmt = "INSERT INTO {} ({}) {}".format('pay_ver', columns, values)

    cur = conn.cursor()
    psycopg2.extras.execute_batch(cur, insert_stmt, df5.values)
    conn.commit()
    cur.close()

In [ ]:
pd.read_sql_query("""
SELECT *
FROM pay_ver

   """, conn)

   id  kod_serv  kod_set kod_dog    date_pay      sum
0   1         1        1  028-20  2020-10-05  10000.0
1   2         7        1  028-20  2020-11-05  30000.0
2   3         7        1  028-20  2020-12-06  30000.0
3   4         6        2  029-20  2020-11-06  20000.0
4   5        12        2  029-20  2020-12-01  16000.0
5   6         4        3  030-20  2020-06-10  15000.0
6   7        10        3  030-20  2020-11-11  60000.0
7   8         1        4  031-20  2020-08-16  10000.0
8   9         7        4  031-20  2020-08-19  30000.0

In [162]:
query="""
CREATE TABLE IF NOT EXISTS salary_ver
(id SERIAL PRIMARY KEY,
   kod_work int,
   period date,
      sum numeric,
      fine numeric)
"""
conn.cursor().execute(query)
conn.commit()

In [163]:
pd.read_sql_query("""
SELECT *
FROM salary_ver

   """, conn)

Empty DataFrame
Columns: [id, kod_work, period, sum, fine]
Index: []

In [164]:
import pandas as date
df6=pd.read_excel(io='salary.xlsx', engine='openpyxl')

In [165]:
df6

   kod_work     period    sum  fine
0         1 2020-11-01  50000    90
1         2 2020-11-01  35000    50
2         3 2020-11-01  45000   100
3         4 2020-11-01  25000   100
4         1 2020-12-01  70000   100
5         2 2020-12-01  50000   100
6         3 2020-12-01  35000   100
7         4 2020-12-01  25000   100

In [166]:
# читаем строки датафрейма в таблицу 
if len(df6) > 0:
    df6_columns = list(df6)
   
    columns = ",".join(df6_columns)

    values = "VALUES({})".format(",".join(["%s" for _ in df6_columns])) 

    insert_stmt = "INSERT INTO {} ({}) {}".format('salary_ver', columns, values)

    cur = conn.cursor()
    psycopg2.extras.execute_batch(cur, insert_stmt, df6.values)
    conn.commit()
    cur.close()

In [169]:
pd.read_sql_query("""
SELECT fio, job, extract(month from date_n) AS "месяц", salary_ver.fine

FROM worker_ver

INNER JOIN executor_ver on executor_ver.kod_work=worker_ver.id

INNER JOIN salary_ver on salary_ver.kod_work=worker_ver.id

WHERE (date_n-date_b)>7 AND salary_ver.fine<100



  """, conn)
#если разница между датой начала работы и датой окончания то данный сотрудник в следующем периоде может получить не 100% премии а 50,

                           fio        job  месяц  fine
0  Пастухов Ярослав Максимович         PM   10.0  50.0
1      Березин Илья Николаевич  team lead    6.0  90.0

In [ ]:
pd.read_sql_query("""
SELECT so_ver.name, service_ver.name, so_ver.fio, so_ver.tel, (dogovor_ver.sum-pay_ver.sum) AS "Задолженность"

FROM dogovor_ver

INNER JOIN so_ver on so_ver.id=dogovor_ver.kod_set

INNER JOIN pay_ver on pay_ver.kod_dog=dogovor_ver.kod_dog AND pay_ver.kod_serv=dogovor_ver.kod_serv

INNER JOIN service_ver on service_ver.id=dogovor_ver.kod_serv

WHERE (dogovor_ver.sum-pay_ver.sum) >0

ORDER BY dogovor_ver.kod_set


  """, conn)
#вывод суммы задолженности с указанием организации, данных директора и телефона

                                      name  ... Задолженность
0       ООО "Орехово-Зуевская Электросеть"  ...       30000.0
1       ООО "Орехово-Зуевская Электросеть"  ...       30000.0
2                  ООО "Каскад Энергосеть"  ...       32000.0
3  ООО "Городская электросетевая компания"  ...       25000.0
4                          ООО "Сибэнерго"  ...       30000.0

[5 rows x 5 columns]

In [171]:
pd.read_sql_query("""
SELECT name, price
FROM service_ver
INNER JOIN dogovor_ver ON dogovor_ver.kod_serv=service_ver.id

WHERE dogovor_ver.kol>1


  """, conn)
#выбираем сервисы у которых колличество периодов использования больше одного

              name   price
0       service LK  6000.0
1  service LK+K+RI  8000.0
2     service LK+K  7500.0
3       service LK  6000.0